{% block body %} {% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/bootwatch.css' %}">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<center>
    <h2>
        <a href="{% url 'app:feed' %}">Feed Page</a>
    </h2>
    <img src="{% static path %}" width="320" height="240">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</center>
{% endblock %}