{% load static %}{% block body %}

<head>
    <link rel="stylesheet" href="{% static 'app/bootwatch.css' %}">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<div class="container">
    <center>
        <h2>
            <a href="{% url 'app:feed' %}">Feed Page</a>
        </h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form}}
            <button type="submit">Upload</button>
        </form>
    </center>
</div>
{% endblock %}