/* .crop {
    height: 300px;
    /* width: 400px; */
/* overflow: inherit; */
/* } */
img .crop {
    height: auto;
    min-width: 100%;
}

panel {
    margin-left: 10px;
}

.jumbotron {
    text-align: center;
}

.pull-right {
    float: right;
    margin-top: -5px;
}
