img .crop {
    height: auto;
    min-width: 100%;
}

.panel {
    margin-left: 10px;
    background-color: burlywood;
}

.jumbotron {
    text-align: center;
    background-color: rgb(233, 195, 148);
}

.pull-right {
    float: right;
    margin-top: -5px;
}

body {
    background-color: rgb(207, 162, 107);
}

.like-dislike-btn form {
    display: inline;
}
