img .crop {
    height: auto;
    min-width: 100%;
}

.panel {
    margin-left: 10px;
    background-color: burlywood;
}

.jumbotron {
    text-align: center;
    background-color: rgb(233, 195, 148);
}

.pull-right {
    float: right;
    margin-top: -5px;
}

body {
    background-color: rgb(207, 162, 107);
}

.like-dislike-btn form {
    display: inline;
}

.panelfoot {
    display: none;
}

.panel-footer {
    cursor: pointer;
}

.icon-header {
    font-size: 3.75em;
}

.head-text {
    font-family: 'Bungee', cursive;
    font-size: 40;
}

.jotext {
    color: rgb(233, 84, 32);
}

.font-type {
    font-family: 'Bungee', cursive;
    color: rgb(233, 84, 32);
    text-align: start;
}
